*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ebf5fc;
}
button{
    height: 70px;
    width: 250px;
    margin: 0 30px;
    font-size: 25px;
    color: #629bd8;
    outline: none;
    border: none;
    background: #ebf5fc;
    border-radius: 50px;
}
.btn-1{
    box-shadow: -6px -6px 10px rgba(255,255,255,0.8), 6px 6px 10px rgba(0,0,0,0.2);
}
.btn-1:focus{
    font-size: 24px;
     box-shadow: inset -4px -4px 8px rgba(255,255,255,0.8), inset 8px 8px 16px rgba(0,0,0,0.1);
}
.btn-2{
    font-size: 24px;
    box-shadow: inset -4px -4px 8px rgba(255,255,255,0.8), inset 8px 8px 16px rgba(0,0,0,0.1);
}
.btn-2:focus{
    font-size: 25px;
    box-shadow: -6px -6px 10px rgba(255,255,255,0.8), 6px 6px 10px rgba(0,0,0,0.2);
}